body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #1F2937;
    padding-left: 325px;
    padding-right: 325px;
    padding-bottom: 125px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;   
}

.header .text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E7E5EB;
    font-size: 18px;
}

.container1 {
    display: flex;
    gap: 28px;
}

.child1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 250px;
}

.child1 .text {
    color: #E7E5EB;
    font-size: 18px;
}

.placeholder1 {
    display: flex;
    background-color: rgb(115, 115, 122);
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 250px;
}

.placeholder1 .text {
    color: #E7E5EB;
    font-size: 18px;
}

.section1 h1 {
    font-size: 48px;
    margin: 0;
    color: #F9FAF8;
    font-weight: 900;
}

.button1 {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    border: none;
    padding: 8px 30px;
    border-radius: 8px;
    margin-top: 20px;
    align-self: flex-start;
}

/* Section 2 */

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 325px;
    padding-right: 325px;
}

.section2 h1 {
    font-size: 36px;
    weight: 800;
    color: #1F2937;
    padding: 16px;
}

.container2 {
    display: flex;
    justify-content: center;
    gap: 3em;
    padding-bottom: 6em;
}

.element {
    width: 150px;
    text-align: center;
}

.element .text {
    font-size: 16px;
    color: rgb(105, 104, 104);

}

.square {
    border-width: 3px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

/* Section 3 */

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 125px 440px 90px;
}

.quote {
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 0;
}

.author {
    font-weight: bold;
    color: #1F2937;
    align-self: flex-end;
    font-size: 24px;
}

/* Section 4 */

.section4 {
    display: flex;
    justify-content: center;
    padding: 100px 280px;
    color: #F9FAF8;
    
}

.action {
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 4em 8em;
}

.action-text {
    flex: 1;
}

.call1 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.call2 {
    font-size: 20px;
    margin: 0;
}

.button2 {
    background-color: #3882F6;
    border-style: solid;
    border-width: 2px;
    border-color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    padding: 8px 30px;
    border-radius: 8px;
    height: 40px;
    align-self: center;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    text-align: center;
    padding: 2em;
}